/*HEADER
================================*/
.header{
	background: linear-gradient(to bottom, #fefefe, #dddddd);
	color: #898989;
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -8px;
			left: 0;
			width: 100%;
			height: 8px;
			background: linear-gradient(to bottom, #3ec4ba, #36ada4);
		}
		a{
			color: #898989;
		}
}
/* .header-navbar{
	background: 
} */
.navbar-logo{
	width: $sideWidth;
	height: 50px;
	display: table;
	border-right: 1px solid rgb(232, 232, 232);
	border-left: 1px solid rgb(232, 232, 232);
		a{
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			padding: 0;
			margin: 0;
			width: 100%;
			height: 80%;
		}
	/* background: linear-gradient(to bottom, #e1e1e1, #eff0ef); */
}
.logo-img{
	margin: 0 auto;
	height: 40px;
}
.navbar-login{
	padding: 5px 15px;
	margin: 0;
}
.user-avatar{
	width: 40px;
	height: 40px;
	border: none;
	box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
}
.user-name{
	color: #33363f;
}
.btn-exit{
	color: #898989;
}