.clearfix{
		&:after,
		&:before{
			content: "";
			display: table;
		}
		&:after{
			clear: both;
		}

}
.info-sec{
	padding: 30px;
	border:  1px solid #000;
	width: 50%;
	float: left;
	background: rgba(0, 0, 0, .1);
}
.info-sec + .info-sec{
	border-left: none;
}
.info{
	margin-bottom: 20px;
}
.info__head{
	margin-bottom: 5px;
}
.info-sec__header{
	display: inline-block;
	padding: 0 25px 0 0;
	margin-bottom: 20px;
	border-bottom: 2px solid red;
}
.info__date{
	color: red;
	margin-bottom: 5px;
}
.review-b{
	width: 200px;
	margin-right: 20px;
	display: inline-block;
	border: 1px solid #000;
	padding: 25px;
		a{
			color: red;
			text-transform: uppercase;
		}
		p{
			margin-bottom: 10px;
		}
		&:last-child{
			margin-right: 0;
		}
		&:first-child{
			margin-left: 0;
		}
}
.review__date{
	display: inline-block;
	border:  1px solid #000;
	padding: 3px 5px;
	margin-bottom: 10px;
}