/*SIDEBAR
============================*/
.sidebar-wrap{
	position: fixed;
	top: 60px;
	width: $sideWidth;
	bottom: 0;
	background: #33363f;
	box-shadow: inset -7px 0 9px -7px rgba(0, 0, 0, .6);
	overflow-y: auto;

}
.sidebar-menu{
		li{
			width: 100%;
			text-align: center;
			color: #7b7c7e;
			padding: 0;
			border-bottom: 1px solid #242730;
			box-shadow: 0 2px 2px -2px #4e515b;
				&:hover{
					background: linear-gradient(to bottom, #33363f, #1e222d);
					border-bottom: 1px solid #1e222d;
					box-shadow: 0 2px 2px -2px #1e222d;
						a{
							color: $mainColor;
							text-decoration: none;
						}
				}
		}
		a{
			width: 100%;
			height: 100%;
			display: block;
			padding: 15px 0; 

		}
}