doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		block title
			title Главная страница
		meta(name="description", content="content")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="css/normilize.css")
		block style
			link(rel="stylesheet", href="css/phone.css")
	body
		block content