<header class="header navbar-fixed-top">
    <div class="container">
        <div class="row">
            <div class="navbar header-navbar">
                <div class="" id="">
                    <div class="navbar-header navbar-logo">
                        <a href="#" class="">
                            <img src="images/pic/logo.png" class="logo-img" alt="">
                        </a>
                    </div>
                    <p class="navbar-left navbar-login">
                        Good morning
                        <span class="user-name">Mark Otto</span>
                        <img src="" alt="" class="user-avatar img-circle">
                        <a href="#" class="btn-exit"><i class="fa fa-power-off"></i></a>
                    </p>
                    <ul class="nav pull-right navbar-nav">
                        <li class="active"><a href="#">Notifications <span class="badge">4</span></a></li>
                        <li><a href="#">Messages <span class="badge">4</span></a></li>
                        <li><a href="#">Tasks <span class="badge">4</span></a></li>
                        <li><a href="#">Tasks <span class="badge">4</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>