$white: #fff;
$shadow: rgba(0, 0, 0, .1);
$mainColor: #000;
$mainBgColor: #fff;

$linkColor: red;
$linkHoverColor: blue;
$navColor: #337ab7;
$titleColor: #000;
$lightBorder: rgb(227, 226, 226);
$darkBorder: rgb(170, 169, 169);


$mainFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$buttonFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$headFont: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontRegular: "Helvetica Neue", Helvetica, Arial, sans-serif;


$inputBorder: rgb(205, 205, 205);
$inputBorderFocus: rgb(227, 226, 226);
$inputColor: #000;
$inputColorFocus: #000;
$borderError: #ff5656;

$btnDefaultColor: rgb(227, 226, 226);
$btnPrimeryColor: blue;
$btnSuccColor: green;
$btnInfoColor: #20B5DE;
$btnWarColor: red;
$btnDisColor: rgb(227, 226, 226);

$succAlert: green;
$warnAlert: orange;
$errAlert: red;