/* TABS
===============================*/
.tabs{
	padding: 20px 0;
}
.tabs-content{
}
.tabs-content-item{
	margin-top: 25px;
	box-shadow: 0px 1px 3px -1px #000;
	display: none;
	padding: 20px;
		div{
			margin-bottom: 10px;
		}
		&.active{
			display: block;
		}
}
.tabs__caption{
	clear: fix;
		li{
			float: left;
			padding: 10px;
			margin: 0 0 2px 0;
			cursor: pointer;
			background: #E0E0E0;
			border-right: 1px solid #c0bfbf;
				&.active{
					background: #09B6F5;
					border-right: 1px solid #09B6F5;
					color: #fff;
				}
				&:last-child{
					border-right: none;
				}
		}
}