extends templates/base/main.pug
block title
	title Game
block style
	link(rel="stylesheet", href="css/games.css")
block content
	- var error = false
	if error
		.error-win
			.error-win_msg Текст с ошибкой
	.game-win
		.game-win__footer
			button.game-exit Войти